/* --- BASE --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url(images/bg-body.jpg) repeat 0 0;
  font: 20px "Amatic SC", cursive;
  overflow: hidden; }

/* --- MODULES --- */
.cloud-holder {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.cloud {
  position: absolute; }
  .cloud--big {
    background: url(images/clouds/cloud-big.png) no-repeat;
    width: 210px;
    height: 65px;
    top: 360px;
    -webkit-animation: ltr 90s infinite linear;
    -moz-animation: ltr 90s infinite linear;
    -o-animation: ltr 90s infinite linear;
    animation: ltr 90s infinite linear; }
  .cloud--medium, .cloud--medium-secondary {
    background: url(images/clouds/cloud-medium.png) no-repeat;
    width: 125px;
    height: 30px; }
  .cloud--medium {
    top: 200px;
    left: 330px;
    -webkit-animation: ltr 100s infinite linear -20s;
    -moz-animation: ltr 100s infinite linear -20s;
    -o-animation: ltr 100s infinite linear -20s;
    animation: ltr 100s infinite linear -20s; }
  .cloud--medium-secondary {
    right: 190px;
    top: 300px;
    -webkit-animation: rtl 120s infinite linear;
    -moz-animation: rtl 120s infinite linear;
    -o-animation: rtl 120s infinite linear;
    animation: rtl 120s infinite linear; }
  .cloud--small, .cloud--small-secondary {
    background: url(images/clouds/cloud-small.png) no-repeat;
    width: 85px;
    height: 25px; }
  .cloud--small {
    top: 100px;
    left: 100px;
    -webkit-animation: ltr 140s infinite linear -5s;
    -moz-animation: ltr 140s infinite linear -5s;
    -o-animation: ltr 140s infinite linear -5s;
    animation: ltr 140s infinite linear -5s; }
  .cloud--small-secondary {
    top: 60px;
    right: 40px;
    -webkit-animation: rtl 100s infinite linear -5s;
    -moz-animation: rtl 100s infinite linear -5s;
    -o-animation: rtl 100s infinite linear -5s;
    animation: rtl 100s infinite linear -5s; }
  .cloud--mini {
    background: url(images/clouds/cloud-mini.png) no-repeat;
    width: 75px;
    height: 25px;
    top: 160px;
    right: 230px;
    -webkit-animation: rtl 80s infinite linear -20s;
    -moz-animation: rtl 80s infinite linear -20s;
    -o-animation: rtl 80s infinite linear -20s;
    animation: rtl 80s infinite linear -20s; }

@-webkit-keyframes ltr {
  0% {
    left: -250px; }
  100% {
    left: 100%; } }
@-moz-keyframes ltr {
  0% {
    left: -250px; }
  100% {
    left: 100%; } }
@-o-keyframes ltr {
  0% {
    left: -250px; }
  100% {
    left: 100%; } }
@keyframes ltr {
  0% {
    left: -250px; }
  100% {
    left: 100%; } }
@-webkit-keyframes rtl {
  0% {
    right: -250px; }
  100% {
    right: 100%; } }
@-moz-keyframes rtl {
  0% {
    right: -250px; }
  100% {
    right: 100%; } }
@-o-keyframes rtl {
  0% {
    right: -250px; }
  100% {
    right: 100%; } }
@keyframes rtl {
  0% {
    right: -250px; }
  100% {
    right: 100%; } }
.header {
  text-align: center;
  color: #A9A9A9;
  position: relative;
  margin: 40px 0 0;
  z-index: 10; }
  .header__title {
    font-size: 60px; }
  .header__subtitles {
    font-size: 36px; }
  .header__divider {
    background: url(images/hr.png) no-repeat center;
    height: 60px; }

.mountain {
  background: url(images/bg-mountain.png) no-repeat center;
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  z-index: 1; }

.ground {
  background: url(images/bg-ground.png) repeat-x 0 0;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  z-index: 2; }

.bushes {
  background: url(images/bg-bushes.png) no-repeat;
  width: 360px;
  height: 150px;
  position: absolute;
  bottom: 20px;
  right: 0px;
  z-index: 3; }

.trees {
  background: url(images/bg-trees.png) no-repeat;
  width: 300px;
  height: 355px;
  position: absolute;
  bottom: 20px;
  left: 5px;
  z-index: 4; }

.links {
  padding: 0;
  margin: 0;
  list-style: none; }
  .links__item {
    display: inline-block;
    padding: 20px;
    font-size: 30px; }
  .links__link {
    text-decoration: none;
    color: #A9A9A9; }
    .links__link:hover {
      color: #ADD8E6; }

.nika {
  background: url(images/nika.png) no-repeat;
  width: 120px;
  height: 275px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
  z-index: 5; }

/*# sourceMappingURL=application.css.map */
