// --- NIKA -------------------------------------------------------------------

.nika {
	background: url(images/nika.png) no-repeat;
	width: 120px;
	height: 275px;	
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -60px;	
	z-index: 5;
}